@font-face { font-family: din; font-weight: regular; src: url('../din1451alt.ttf'); }

h1 {
	color: white;
	text-align: center;
	font-family: din, sans-serif;
}

h6 {
	color: white;
	text-align: center;
	font-family: din, sans-serif;
}

body {
	background-image: url("../index-background.svg");
	font-family: din;
}

#submit {
	background-color: #004990;
	font-size: 20px;
	border: none;
	height: 60px;
	width: 50%;
	color: #fff;
	border-radius: 13px;
	font-weight: bold;	
}

input[type=text] {
	height: 40px;
	width: 45%;
}




/** Present in welcome.html, index.html, attendees.html **/
.tblogo {
	padding-bottom: 30px;
}

.footer {
	font-size: 14px;
	color: #fff;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	font-family: din, sans-serif;
	font-weight: bold;
}

.ticket-confirmation {
	font-size: 20px;
	font-family: din, sans-serif;
	background-color: #fff;
	width: 60%;
	margin: auto;
	text-align: center;
 	border-radius: 10px;
	overflow: hidden;
	padding-top: 15%;
	padding: 10% 50px 10% 50px;
	
}

.index-body {
	transform: translateY(20%);
}

.nav-link {
	list-style-type: none;
	display: flex;
	float: right;
	padding-right: 40px;
}

.navbar{
	position: inherit;
	padding-top: 5px;
	font-size: 20px;
	padding-bottom: 5px;	
}

.navbar-brand {
	text-align: center;
	font-size: 40px;	
}

.dropdown-item {
	display: block;
	text-align: center;
	font-size: 20px;
}

.welcome-page {
	padding-top: 50px;
}

.row {
	padding-bottom: 40px;
}

.card-icons {
	width: 6rem;
	min-height: 192.7px;
	max-height: 192.7px;
	margin: auto;
	padding-top: 5px;

}
/** TODO: Fix the max/min width for the card grids **/
.card {
	min-width: 330px;
	max-width: 400px;
}

.card-link {
	color: #306faa;
}

.card-link:hover:not(.current) {
	color: #004990;
}

a.current-page{
	color: #fff;
}