@font-face { font-family: din; font-weight: regular; src: url('../din1451alt.ttf'); }


h6 {
	color: white;
	text-align: center;
	font-family: din, sans-serif;
}


/** Present in welcome.html, index.html, team.html **/
body {
	background-image: url("../img/background.svg");
	font-family: din;
}

input[type=text] {
	height: 40px;
	width: 45%;
}

#submit, #submit-modal {
	background-color: #004990;
	font-size: 20px;
	border: none;
	height: 60px;
	width: 50%;
	color: #fff;
	border-radius: 13px;
	font-weight: bold;	
}

.footer {
	font-size: 14px;
	color: #fff;
	text-align: center;
	font-family: din, sans-serif;
	font-weight: bold;
}

.ticket-confirmation {
	font-size: 20px;
	font-family: din, sans-serif;
	background-color: #fff;
	width: 60%;
	margin: auto;
	text-align: center;
 	border-radius: 10px;
	overflow: hidden;	
}

.index-body {
	transform: translateY(20%);
}

.navbar{
	position: inherit;
	font-size: 20px;
}

.navbar-brand {
	text-align: center;
	font-size: 40px;	
}

.dropdown-item {
	font-size: 20px;
}

.card-icons {
	width: 6rem;
	min-height: 192.7px;
	max-height: 192.7px;
	margin: auto;

}

.card {
	min-width: 330px;
	max-width: 400px;
}

.card-link {
	color: #306faa;
}

.card-link:hover:not(.current) {
	color: #004990;
}

#navbarSupportedContent .navbar-nav a.current-page {
	color: #fe9500;
}

.container.team-page .jumbotron {
	background-color: white;
}

h1 {
	color: #004990;
	text-align: center;
	font-family: din, sans-serif;
}

.team-photos {
	float: left;
	height : 242px;
	width : 242px;
}

.team-details  {
	display: flow-root;
	font-size: 18px;
}

.team-details span {
	display: inline-block;
}

.footer a {
	color: #fe9500;
}

.navbar .navbar-brand {
	text-align: center;
}

.snacks, .drinks {
	font-size: 18px;
}

.request h4 {
	color: #fe9500;
}

.card {
	max-width: 100%;
}

.accordion .card-header:before {
    font-family: 'FontAwesome';  
    font-weight: bold;
    font-size: 23px;
    content: "\f106";
    float: right; 
}
.accordion .card-header.collapsed:before {
    content: "\f107"; 
}

label.form-check-label, .modal-body {
	font-size: 22px;
}

.form-select-helper {
	text-align: right;
}

.button-wrapper {
	text-align: center;
}

.request-helper {
	font-size: 18px;
}

.text-rating-left {
	float: left;
}

.text-rating-right {
	float: right;
}

.likely-rating {
	display: flow-root;
}

.scale label {
    padding: .3em 1em;
    font-weight:100;
    width:2.59em;
    background: #004990;
    color: #fff;
}

.scale input[type="radio"] {
    display: none;
    border-color: #004990;
}

.scale:not(:checked) > input {
    position:absolute;
    clip:rect(0,0,0,0);
}

.scale:not(:checked) > label {
    overflow:hidden;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
}

/* shows stars */
.scale:not(:checked) > label:before {
    color: #fff;
    content: '★ ';
}

/* for when the rating is checked */
.scale > input:checked ~ label {
    color: #fe9500;
}

input[type="radio"]:checked:before {
    	border-color: #fe9500;
    	background-color: #004990;
}

.customer-satisfaction-survey h4 {
	color: #004990;
	text-align: center;
}
