{% extends "temp_template.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="stylesheet.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1> About The Flight Attendents </h1>


<title>Meet your team!</title>
	
<div class = "content">
	{% for staff in staffmembers %}
		<div class = "container" style="color:#004990">
			    <!-- Photo of Staff Member-->
		    <img src = {{staff.photourl}} style = float:left alt = "Staff Member Photo" height="242" width="242">

		    <!--Rest of the Information-->
		    <ul> Name: {{staff.name}} </ul>
		    <ul> Role: {{staff.role}} </ul>
		    <ul> Hometown: {{staff.hometown}} </ul>
		    <ul> Languages: 
		        {%for language in staff.languages%}
		        <p>{{language}} </p>
		        {%endfor%}
		    <ul> Fun fact about {{staff.name}}: {{staff.funfact}} </ul>
		</html>
		</div>
	{% endfor %}
</div>

{% endblock %}

<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p><center>Powered by jetBlue</center></p>
</footer>