{% extends "temp_template.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="stylesheet.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1> About The Flight Attendents </h1>
{% for attendent in staff %}
if(attendent[role] == "Crew Member")
{



<title>Meet your team!</title>
	
<div class = "content">
	{% for staff in staff_list %}
		<div class = "container">
			{% block staffcard%}{%endblock%}
		</div>
	{% endfor %}
</div>


}
{% endfor %}
{% endblock %}

<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p><center>Powered by jetBlue</center></p>
</footer>