<html>
<head><title>JetBlue Flight Assistant</title></head>
<body bgcolor="#003876">
<h1><font color ="#FFFFFF"><strong>Hello, {{name}}!</strong><h1>
<h5><font color ="#FFFFFF">You are boarding flight {{flightnumber}}, Seat {{seatnumber}}.</h5>
<img src ="url">
<p>Your Pilot is {{pilotname}}<br />
  <form action="pilot.html">
    <input type="submit" value="About the Pilot">
  <form action="attendees.html">
    <input type="submit" value="Meet the Attendees">
  </form>
 </p>
</body>
<footer>
<div class="dropdown">
<button name="Request On-Flight Assistance"size ="3" multiple="no">
  <span class="caret"></span></button>
     <ul class="dropdown-menu" role="menu">
  <li href="#">Request Food or Beverages</li>
  <li href="#">Make an Additional Purchase</li>
  <li href="#">Ask A Question/Voice A Concern</li>
  </ul>
 </div>
  <p>Destination: {{destination}}<br />
  Projected Arrival Time: {{arrivaltime}}</p>
</html>
