<html>
<head><title>JetBlue Flight Assistant</title></head>
<body bgcolor="#003876">
<h1><font color ="#FFFFFF"><strong>Hello, {{name}}!</strong><h1>
<h5><font color ="#FFFFFF">You are boarding flight {{flightnumber}}, Seat {{seatnumber}}.</h5>
{% block body %}
<img src ="url">
<p>Your Pilot is {{pilotname}}<br />
  <button type ="button" onclick="About the Pilot">About the Pilot</button>
  <button type ="button" Onclick="About the Flight Attendees">About the Flight Attendees</button>
 </p>
{% endblock %}
</body>
<footer>
  <button type="button" onclick="Request On-Board Assistance">Request On-Board Assistance</button>
  <p>Destination: {{destination}}<br />
  Projected Arrival Time: {{arrivaltime}}</p>
</html>
