<html>
<head><title>JetBlue Flight Assistant</title></head>
<body bgcolor="#003876">
<h1><font color ="#FFFFFF"><strong>Hello, {{name}}!</strong><h1>
<h5><font color ="#FFFFFF">You are boarding flight {{flightnumber}}, Seat {{seatnumber}}.</h5>
<img src ="url">
<p>Your Pilot is {{pilotname}}<br />
  <button type ="button" onclick="About the Pilot">About the Pilot</button>
  <button type ="button" Onclick="About the Flight Attendees">About the Flight Attendees</button>
 </p>
</body>
<footer>
  <div class="dropdown-content">Request On-Board Assistance>
    <a>Request a drink/snack</a>
    <a>Make an additional purchase</a>
    <a>Ask a Question/Concern</a>
  
  <p>Destination: {{destination}}<br />
  Projected Arrival Time: {{arrivaltime}}</p>
</html>
