{% extends "bootstrap/base.html" %} 

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
	<title>Satisfaction Survery</title>

	{% block styles %}
	{{ super() }}
	<link href="{{url_for('static',filename='css/stylesheet.css')}}" rel="stylesheet">

	{% endblock styles %} 
{% endblock head %}

{% block body %}
{{ super() }}
	
	{% block javascript %}
	<script src="{{url_for('static', filename='scripts.js')}}"></script>
	{% endblock javascript %}

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
    	<a href="{{url_for('welcome')}}"><img src="{{url_for('static',filename='img/Jetblue.jpg')}}" width="80" height="80" class="d-inline-block align-top" alt=""></a>
    	<a class="navbar-brand">How are we doing, {{name}}?</a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		    <span class="navbar-toggler-icon"></span>
		</button>

    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav ml-auto">
				<a class="nav-link" href="{{url_for('welcome')}}">Home</a>
				<a class="nav-link" href="{{url_for('flight_info')}}">Flight Info</a>
				<a class="nav-link" href="{{url_for('team')}}">Meet the Team</a>
				<a class="nav-link current-page" href="{{url_for('feedback')}}">Give Feedback</a>
				<a class="nav-link" href="{{url_for('requests')}}">Request Assistance </a>
				
    		</ul>
    	</div>
    </nav>	

	<main role="main" class="container feedback-page mt-5">
		<div class="jumbotron pt-4 ">
			<h1 class="mb-3"> Customer Satisfaction Survey</h1>

			<form class="customer-satisfaction-survey" action="{{url_for('submit_feedback')}}" method="POST" onSubmit="alert('Your feedback is very much appreciated, {{ name }}. Thank you!')">
				<div class="rating-scale">
					<h4>  How likely are you to travel with JetBlue again? </h4>

					<div class="likely-rating mb-2">
						<span class="text-rating-left">NOT AT ALL LIKELY</span>
						<span class="text-rating-right">EXTREMELY LIKELY</span>
					</div>

					<fieldset class="scale pt-3">
						{% for i in range(10, 0, -1) %}
							<input type="radio" name="scale" id="star-{{ i }}" value="{{ i }}"><label for="star-{{ i }}"> {{ i }} </label>
						{% endfor %}
					</fieldset>
				</div>

				<fieldset class="pt-2" id="set-2">
					<h4> Overall, were you satisfied with this flight service? </h4>
					
					{% for values in data["set-2"] %}
						<input type="radio" name="set-2" id="answer-{{loop.index}}" required><label for="answer-{{loop.index}}"> {{ values }} </label>
					{% endfor %}

				</fieldset>

				<fieldset class="pt-2" id="set-3">
					<h4> Did you enjoy the inflight snacks provided to you? </h4>
					
					{% for values in data["set-3"] %}
						<input type="radio" name="set-3" id="answer-{{loop.index}}" required><label for="answer-{{loop.index}}"> {{ values }} </label>
					{% endfor %}

				</fieldset>

				<fieldset class="pt-2" id="crewmembers-rating">
					<h4> Were the crew members friendly? </h4>

					{% for values in data["set-4"] %}
						<input type="radio" name="set-4" id="answer-{{loop.index}}" required><label for="answer-{{loop.index}}"> {{ values }} </label>
					{% endfor %}

				</fieldset>

				<fieldset class="pt-1 pb-3" id="general-question" required>
					<h4 class="pb-2"> Any other comments, questions, or concerns? </h4>

					<textarea name="textarea" style = "width: 100%; height:150px;" placeholder="Describe your comments here ..."></textarea> 
				</fieldset>

				<div class="button-wrapper mt-4">
					<button class="request-help-submit" name="submit" id="submit-modal" data-toggle="modal" data-target="#confirmation-modal" type="submit">Submit Feedback</button>
				</div> {# end of button-wrapper #}
			</form>
		</div>
	</main>


	<p class="footer"> Powered by jetBlue &nbsp; | &nbsp; <a href="#">To the top</a></p>
{% endblock %}