{% extends "bootstrap/base.html" %} 

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
	<title>Satisfaction Survery</title>

	{% block styles %}
	{{ super() }}
	<link href="{{url_for('static',filename='css/stylesheet.css')}}" rel="stylesheet">

	{% endblock styles %} 
{% endblock head %}

{% block body %}
{{ super() }}
	
	{% block javascript %}
	<script src="{{url_for('static', filename='scripts.js')}}"></script>
	{% endblock javascript %}

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
    	<img src="{{url_for('static',filename='img/Jetblue.jpg')}}" width="80" height="80" class="d-inline-block align-top" alt="">
    	<a class="navbar-brand">How are we doing, {{name}}?</a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		    <span class="navbar-toggler-icon"></span>
		</button>

    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav ml-auto">
				<a class="nav-link" href="{{url_for('welcome')}}">Home</a>
				<a class="nav-link" href="#">Flight Info</a>
				<a class="nav-link" href="{{url_for('team')}}">Meet the Team</a>
				<a class="nav-link current-page" href="{{url_for('feedback')}}">Give Feedback</a>
				<a class="nav-link" href="{{url_for('requests')}}">Request Assistance </a>
				
    		</ul>
    	</div>
    </nav>	

	<main role="main" class="container feedback-page mt-5">
		<div class="jumbotron pt-4 ">
			<h1 class="mb-3"> Customer Satisfaction Survey</h1>

			<form class="customer-satisfaction-survey" action="{{url_for('submit_feedback')}}" method="POST">
				<div class="rating-scale">
					<h4>  How likely are you to travel with JetBlue again? </h4>

					<div class="likely-rating">
						<p class="text-rating-left">NOT AT ALL LIKELY</p>
						<p class="text-rating-right">EXTREMELY LIKELY</p>
					</div>
				</div>

				<div class="scale">
					<label><input type="radio" name="rad"/>
						<span>1</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>2</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>3</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>4</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>5</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>6</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>7</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>8</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>9</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>10</span>
					</label>
				</div>

				<div class="general-question pt-2">
					<h4> Overall, were you satisfied with this flight service? </h4>

					<label><input type="radio" name="rad"/>
						<span>Very satisfied</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>Somewhat satisfied</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>Neutral</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>Somewhat dissatisfied</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>Very dissatisfied</span>
					</label>
				</div>

				<div class="general-question pt-2">
					<h4> Did you enjoy the inflight snacks provided to you? </h4>

					<label><input type="radio" name="rad"/>
						<span>Yes</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>No</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>Did not have any</span>
					</label>
				</div>

				<div class="general-question pt-2">
					<h4> Were the crew members friendly? </h4>

					<label><input type="radio" name="rad"/>
						<span>Yes</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>No</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>Neutral</span>
					</label>
					<label><input type="radio" name="rad"/>
						<span>Did not get a chance to interact with them</span>
					</label>
				</div>

				<div class="general-question pt-2 pb-3">
					<h4> Any other comments, questions, or concerns? </h4>

					<textarea name="textarea" style = "width: 100%; height:150px;" placeholder="Describe your comments here ..."></textarea> 
				</div>

				<div class="button-wrapper mt-4">
					<button class="request-help-submit" name="submit" id="submit-modal" data-toggle="modal" data-target="#confirmation-modal" type="submit" onclick="alert('Your feedback is very much appreciated, {{ name }}. Thank you!')">Submit Feedback</button>
				</div> {# end of button-wrapper #}

			</form>
		</div>
	</main>


	<p class="footer"> Powered by jetBlue &nbsp; | &nbsp; <a href="#">To the top</a></p>
{% endblock %}