<!--Website for Pilot Info-->
<html>
    <head><title>About The Pilot!</title></head>

    <h1> About The Pilot </h1>

    <!-- Photo of Pilot-->
    <img src = "pilot.jpg" style = float:left alt = "Pilot Photo (for now)" height="242" width="242">
    
    <!--Rest of the Information-->
    <h4> Rating: {{rating}}
    <br />
    Years of Experience: {{years of experience}}
    <br />
    Total Number of Flights: {{number}} </h4>

    <br/> This is {{pilotname}}, our pilot for this flight. His hometown is {{hometown}} and he speaks {{languages}}.</br>
    <br/>Fun fact about {{pilotname}}: {{insert fun fact here}}</br>
</html>
