{% extends "temp_template.html" %}

{% block body %}

    <!-- Photo of Staff Member-->
    <img src = {{photourl}} style = float:left alt = "Staff Member Photo" height="242" width="242">

    <!--Rest of the Information-->
    <br /> Name: {{name}}
    <br /> Role: {{role}}
    <br /> Start Date: startdate
    <br /> Hometown:{{hometown}}
    <br /> Languages
           {%for language in languages%}
    <p>{{language}}</p>
    {% endfor %} </br>

    <br/>Fun fact about {{name}}: {{funfact}}</br>
</html>
{% endblock %}
