@font-face { font-family: din; font-weight: regular; src: url('din1451alt.ttf'); }

h1 {
	background-color: #013E7D;
	text-align: center;
	font-family: din, sans-serif;
}

.container {
	font-family: din, sans-serif;
	display: inline-block;
	width: 40%;
	margin: 3%;
	padding-bottom: 5%;
}

img {
	padding-right: 3%;
}

body {
	padding-top: 8%;
	background-image: url("index-background.svg")
}


.container-ticket-confirmation {
	background-color: #fff;
	width: 60%;
	margin: auto;
	text-align: center;
 	border-radius: 10px;
	overflow: hidden;
	padding: 10px 50px 85px 50px;
	padding: 10% 50px 10% 0px;
	
}