@font-face { font-family: din; font-weight: regular; src: url('din1451alt.ttf'); }

h1 {
	background-color: #013E7D;
	text-align: center;
	font-family: din, sans-serif;
}

.container {
	font-family: din, sans-serif;
	display: inline-block;
}
