{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
	<title>Your Team</title>

	{% block styles %}
	{{ super() }}
	<link href="{{url_for('static',filename='css/stylesheet.css')}}" rel="stylesheet">
	{% endblock styles %} 
{% endblock head %}

{% block body %}
{{ super() }}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
    	<img src="{{url_for('static',filename='img/Jetblue.jpg')}}" width="80" height="80" class="d-inline-block align-top" alt="">
    	<a class="navbar-brand">Hello, {{name}}!</a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		    <span class="navbar-toggler-icon"></span>
		</button>

    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav ml-auto">
				<a class="nav-link" href="{{url_for('welcome')}}">Home</a>
				<a class="nav-link" href="#">Flight Info</a>
				<a class="nav-link current-page" href="{{url_for('team')}}">Meet the Team</a>
				<a class="nav-link" href="#">Give Feedback</a>
				<a class="nav-link" href="{{url_for('requests')}}">Request Assistance </a>
    		</ul>
    	</div>
    </nav>
	
	<main role="main" class="container team-page mt-5">
		<div class="jumbotron pt-4 pb-5">
			<h1> About The Flight Attendents </h1>
			{% for staff in staffmembers %}
			<div class = "container team-info pt-4 pb-4">
				<!-- Photo of Staff Member-->
			    <img class="team-photos rounded" src = {{staff.photourl}} alt = "Staff Member Photo">

			    <div class="team-details">
				    <!--Rest of the Information-->
				    <ul> Name: {{staff.name}} </ul>
				    <ul> Role: {{staff.role}} </ul>
				    <ul> Hometown: {{staff.hometown}} </ul>
				    <ul> Languages: 
				        {%for language in staff.languages%}
				        	{% if language == staff.languages[-1] %}
				        		<span> {{language}} </span>
				        	{% else %}
				        		<span> {{language}}, </span>
				        	{% endif %}
				        {%endfor%}
				    </ul>
				    <ul> Fun fact about {{staff.name}}: {{staff.funfact}} </ul>
				</div>
			</div>
			{% endfor %}

		</div>
	</main>

	<p class="footer"> Powered by jetBlue &nbsp; | &nbsp; <a href="#">To the top</a></p>

{% endblock %}