<!DOCTYPE html>
<html>
<title>JetBlue Concierge</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
<body class="w3-light-grey"><center>
<!-- Navigation bar with social media icons -->

  <img src="jetblue.jpg" />
</div>
  


<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px" margin="center">

  <!-- Header -->
<header>
  <h1 class="w3-xxxlarge"><b><center>Hello, {{name}}!</center></b></h1>
    <h6><center>You are boarding flight <span class="w3-tag">{{flightnumber}}</span>, Seat <span class="w3-tag">{{seatnumber}}</span>.</center></h6>
      </header>
<!-- Body -->

{%block body%}{%endblock%}

<!-- END w3-content -->
</div>


<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <p>Powered by jetBlue</p>
</footer>


</body>
</html>
