<!-- {% extends "welcome_template.html" %} -->

<title>JetBlue Concierge</title>
  <!-- <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/stylesheet.css')}}">
  

{% block body %}


<div class="header-navigator">
    <ul><a class="nav-link" href = "{{url_for('welcome')}}"> Home </a> </ul>
    <ul><a class="nav-link" href = "{{url_for('team')}}"> Team </a> </ul>
    <ul><a class="nav-link" href = "{{url_for('requests')}}"> Request Assistance </a> </ul>
</div>


{% endblock %}


<body>
<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
	<div style="max-width:1600px" margin="center">

	  <!-- Header -->
	<header>
	  <h1 class="w3-xxxlarge"><b><center>Hello, {{name}}!</center></b></h1>
	    <h6><center>You are in seat {{seat}}. We're so glad you're here!</center></h6>
	</header>

	<!-- Body -->

	</body>




	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes style="color:#004990">
	    {% for message in messages %}
	      <h3><strong>{{ message }}</strong></h3>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

	<!-- END w3-content -->
	</div>
</body>	

<!-- Footer -->
<footer> Powered by jetBlue </footer>


<!-- TODO: solidy nav bar to the top, keep the Hello, {{name}} at the top left
	 TODO: on this page, remove "home" link
	 TODO: "Meet your Team", "Request Assistance", "Feedback" with images
-->